<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AddressMapper" >
    <select id="findByOrder"   resultType="address">
        select a.address,a.house_num houseNum,a.name,a.sex,a.phone
        from order_master om left join address a on om.address_id = a.id
        where om.id = #{oid}
    </select>
</mapper>