<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.OrderMasterMapper" >
    <select id="findAll"  resultType="orderMaster">
        select om.id,user_id userId,address_id addressId,create_date createDate,order_amount orderAmount,om.status,u.username,order_num orderNum
        from order_master om LEFT JOIN `user` u on om.user_id = u.id
    </select>
</mapper>